body {
    background-color: #D7B9A3; /* Cor de fundo semelhante à imagem */
    font-family: 'Arial', sans-serif; /* Fonte semelhante à imagem */
}

.navbar {
    background-color: #D7B9A3; /* Cor de fundo da navbar */
}

.navbar-brand img {
    height: 40px; /* Altura do logo */
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #513623;  /* Cor do texto dos links da navbar */
    font-weight: bold; /* Texto em negrito */
}

.form-control {
    background-color: #F2EBE2;  /* Cor de fundo da barra de pesquisa */
    border: none; /* Remover borda */
    border-radius: 20px; /* Borda arredondada */
}


.btn-outline-success {
  color: #513623; /* Cor do botão */
  border-color: #513623; /* Cor da borda do botão */
  border-radius: 20px; /* Arredondar os cantos do botão */
}
.btn-outline-success:hover {
  background-color: #513623; /* Cor do botão */
  color: white; /* Cor da fonte do botão */
  border-color: #513623; /* Cor da borda do botão */
}